.departmentHandBooks {
    .box {
        width: 64rem;
        min-width: 80%;
        max-width: 100%;
        margin: auto;
        margin-top: 1.5rem;
        height: 100%;
        display: flex;
        gap: 3rem;

        @include width-not-enough($department-wrap-width) {
            flex-direction: column-reverse;
        }

        >div:last-child {
            flex: 1;
        }
    }
}