.letterList {
    .list {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        >* {
            width: calc((100% - 6rem) / 4);

            @include width-not-enough(72rem) {
                width: calc((100% - 4rem) / 3);
            }

            @include width-not-enough(48rem) {
                width: calc((100% - 2rem) / 2);
            }

            @include width-not-enough(28rem) {
                width: 100%;
            }
        }
    }
}