.loadingBackground {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    z-index: -1;

    &[data-background="1"] {
        background-color: #BBB;
    }

    .box {
        margin: auto;
        
        svg {
            width: 12rem;
            fill: var(--color, #FFF);
            animation: f 6s infinite linear;
        }

        path[stroke] {
            fill: none;
            stroke-linejoin: round;
            stroke-width: 4;
            animation: r 3s infinite linear;

            &:last-child {
                animation-name: r2;
            }
        }

        color: var(--color, #FFF);
        text-align: center;
        font-size: 1.2rem;
    }

    @keyframes r {
        0% {
            transform: rotate(0deg)
        }

        100% {
            transform: rotate(-360deg)
        }
    }

    @keyframes r2 {
        0% {
            transform: rotate(180deg)
        }

        100% {
            transform: rotate(-180deg)
        }
    }

    @keyframes f {
        10% {
            transform: translateY(0)rotate(0)
        }

        20% {
            transform: translateY(-0.8rem)rotate(5deg)
        }

        25% {
            transform: translateY(-1rem)rotate(2.5deg)
        }

        32% {
            transform: translateY(-0.9rem)rotate(0);
        }

        45% {
            transform: translateY(0)rotate(-4deg)
        }

        55% {
            transform: rotate(0);
        }
    }
}