.bigView {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8888;
    transition: opacity 0.3s;
    z-index: 2;
    user-select: none;

    &[data-show=false] {
        opacity: 0;
        pointer-events: none;
    }

    .displayBox {
        position: relative;

        img {
            display: block;
            max-width: 95vw;
            max-height: 75vh;
            margin: auto;
            object-fit: contain;
            object-position: center;
        }


        .last,
        .next {
            position: absolute;
            top: 0;
            height: 100%;
            width: min(8%, 8rem);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: min(6vw, 2.5rem);
            z-index: 1;
            opacity: 30%;
            cursor: pointer;
            transition: opacity 0.3s;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: opacity 0.3s;
            }

            &:hover {
                opacity: 100%;

                &::before {
                    opacity: 100%;
                }
            }
        }

        .last {
            left: 0;

            &::before {
                background: linear-gradient(90deg, #FFF, #FFF0 80%);
            }
        }

        .next {
            right: 0;

            &::before {
                background: linear-gradient(-90deg, #FFF, #FFF0 80%);
            }
        }
    }
}